<!DOCTYPE html>
<html>
<head>
  <%= page_meta %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: :reload } %>
</head>

<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <%= yield %>

  <%= javascript_include_tag 'application', data: { turbolinks_track: :reload } %>
</body>
</html>
